.chat-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0px 80px;
  height: 100px;
  width: 100%;
}

.chat-input-text-area {
  resize: none;
  border: 0px;
  height: 45px;
  padding-left: 1rem;
  width: 89%;
  font-weight: 600;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  color: #7d7d7d;
  &:active{
      border: 0px;
  }
}

.chat-input-button {
  background-color: #f0f0f0;
  border: 0px;
  width: 100px;
  height: 40px;
  border-radius: 10%;
  font-weight: 600;
  color: #7d7d7d;
}
