.sidebar {
    width: 30%;
    height: 100vh;
    background-color: #0f0e0e;

    button {
        background-color: #0f0e0e;
        border: none;
        &:hover {
            background-color: #0f0e0e;
        }
    }
}